@import "tailwindcss";

:root {
  font-family: "Fredoka", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #fffbeb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ol {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  list-style: decimal;
  padding-left: 2rem;
}

ul {
  margin-top: 1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  list-style: circle;
  padding-left: 2rem;
}

.markdown > * {
  all: revert;
}
